body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Fix for Mac Chrome 80", system-ui, -apple-system,
    BlinkMacSystemFont, ".SFNSText-Regular", sans-serif;
  background-color: #e9ebee;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #3b5998;
  color: white;
  width: 100%;
  height: 60px;
}

.header-content {
  display: flex;
  align-items: center;
  width: 981px;
  height: 100%;
  margin: 0px auto;
}

.logo {
  font-weight: bold;
  font-size: 26px;
  margin-top: 10px;
}

.register-button {
  background-color: #42b72a;
  height: 20px;
  width: 35px;
  margin-top: 15px;
  margin-left: 10px;
  font-size: 12px;
  text-align: center;
  padding-top: 3px;
}

.join-facebook {
  font-size: 12px;
  margin-left: auto;
}

.main {
  width: 981px;
  margin: 0px auto;
}

.section {
  display: flex;
}

.section1,
.section2 {
  width: 50%;
}
